*
{
  font-family: Garamond;
  margin: 0;
}

body, html
{
  height: 100%;
  background: #edecdf;
}

.header
{
  text-align: center;
  font-size: 1.5vw;
  background-color: #f5f2ce;
}

.content
{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  height: 100%;
}

.outerContent
{
  width: 12.5%;
  float: left;
  /*box-shadow: inset 0px 0px 0px 0.2vw cyan;*/
}

.innerContent
{
  width: 75%;
  background-color: #b59b6e;
  box-shadow: inset 0px 0px 0px 0.2vw #fff794;
}

.IOCOntainer
{
  text-align: left;
  box-shadow: inset 0px 0px 0px 0.2vw #fff794;
  height: 30%;
  background-color: #f5f2ce;
  margin: 2vw;
  padding: 1vw;
}

.IOArea
{
  height: 75%;
  color: red;
  border: solid 0.4vw #b59b6e;
  resize: none;
  width: 90%;
  background-color: #f5f2ce;
  color: red;
}
.IOArea:hover
{
  background-color: cyan;
}

.inputButton
{
  height: 4vw;
  width: 10vw;
  font-size: 2vw;
  text-align: center;
  padding: 0;
  margin: 0 5vw 0 5vw;
}
.inputButton:hover
{
   background-color:
}

.footer
{
  font-size: 1.5vw;
  background-color: #f5f2ce;
}
